<%- include('./header.ejs') %>

  <!--slider div start-->
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://img.freepik.com/premium-photo/young-asian-indian-college-students-reading-books-studying-laptop-preparing-exam-working-group-project-while-sitting-grass-staircase-steps-college-campus_466689-7729.jpg"
          class="d-block w-100" style="height: 725px;" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="https://timesofsandiego.com/wp-content/uploads/2021/08/Miramar-College-Class.jpg"
          class="d-block w-100" style="height: 725px;" alt="..." />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.longmores.law/wp-content/uploads/2019/12/Goffs-Oak-Academy-sixth-form-careers-talk-CED-20.11.18-003.jpeg"
          class="d-block w-100" style="height: 725px;" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--slider div end-->
  <div class="container mb-5 text-center">
    <h1 class="course_heading mt-5">Hello ,<%=n %>
    </h1>


    <h2 class="course_heading">Register Your Course</h2>
    <p class="course_para text-center mb-5">
      Course Registration means the official recording of a student's name to
      study a course or courses.
    </p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card card-1">
          <img class="card-img-top" height="200px" width="300"
            src="	https://mits-admission-portal.onrender.com/assets/images/card_image1.jpg" />
          <div class="card-body">
            <h5 class="card-title">B.Tech</h5>
            <p class="card-text">
              B.Tech is a professional undergraduate engineering degree
            </p>
            <% if(Bt){ %>
              <a class="btn btn-info" href="/displaybtech">Display</a>
              <%}else{ %>
                <a class="btn btn-info" href="/btech">Register</a>
                <% } %>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card card-2">
          <img class="card-img-top" height="200px" width="300"
            src="https://mits-admission-portal.onrender.com/assets/images/card_image2.jpg" />
          <div class="card-body">
            <h5 class="card-title">BCA</h5>
            <p class="card-text">
              BCA is a three-year Bachelor's Degree in Computer Application
            </p>
            <% if(BCA){ %>
              <a class="btn btn-info" href="/displaybca">Display</a>
              <%}else{ %>
                <a class="btn btn-info" href="/bca">Register</a>
                <% } %>


          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card card-3">
          <img class="card-img-top" height="200px" width="300"
            src="https://mits-admission-portal.onrender.com/assets/images/card_image3.jpg" />
          <div class="card-body">
            <h5 class="card-title">MCA</h5>
            <p class="card-text">
              MCA is a professional post-graduation degree in computer science
            </p>
            <% if(MCA){ %>
              <a class="btn btn-info" href="/displaymca">Display</a>
              <%}else{ %>
                <a class="btn btn-info" href="/mca">Register</a>
                <% } %>
          </div>
        </div>
      </div>
    </div>
    <!--row end-->
  </div>
  <!--container end-->